<%= form_with model: joke do |form| %>
    <div>
      <%= form.label :body %><br>
      <%= form.text_area :body %><br>
      <% joke.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>